<launch >
    <node pkg="rosserial_server" type="socket_node" name="esp_hand_1">
	<param name="port" value="11411"/>
    </node>
    <node pkg="rosserial_server" type="socket_node" name="esp_hand_2">
	<param name="port" value="11412"/>
    </node>
    <node pkg="rosserial_server" type="socket_node" name="esp_hand_3">
	<param name="port" value="11413"/>
    </node>
    <node pkg="rosserial_server" type="socket_node" name="esp_hand_4">
	<param name="port" value="11414"/>
    </node>
    <node pkg="rosserial_server" type="socket_node" name="esp_hand_5">
	<param name="port" value="11415"/>
    </node>
    <node pkg="rosserial_server" type="socket_node" name="esp_neck">
	<param name="port" value="11416"/>
    </node>
    <node pkg="rosserial_server" type="socket_node" name="esp_eyes">
	<param name="port" value="11417"/>
    </node>
</launch>
